<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaft.org">
<head>
    <meta charset="UTF-8" />
    <title>Veterinaria</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
    <h1 th:text="${titulo}"></h1>
    <div class="container">
        <table class="table table-striped">
            <thead>
            <thead>
            <tr>
                <th>N*</th>
                <th>nombre</th>
                <th>apellido</th>
                <th>dni</th>
                <th>telefono</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item: ${clientes}">
                <th scope="row" th:text="${item.id}"></th>
                <th th:text="${item.nombre}"></th>
                <th th:text="${item.nombre}"></th>
                <th th:text="${item.apellido}"></th>
                <th th:text="${item.dni}"></th>
            </tr>
            </tbody>
        </table>
    </div>




    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{js/main.js}"></script>
</body>
</html>